<html>
  <head>
    <title>Просмотрщик лог-файлов</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
  </head>
  <body>
    <div id="file-name-input-and-label">
      <div id="file-name-label-div">
        <span id="file-name-label">Имя файла:</span> 
      </div>
      <div id="file-name-input-div">
        <input id="file-name-input" />
      </div>
      <div id="file-name-button-div">
        <button id="select-file-button">Выбрать</button>
      </div>
    </div>
    <div id="log-view-grid">
    </div>
  </body>
</html>