#file-name-input-and-label {
  padding-left: 8px;
  padding-top: 8px;
	width: 100%;
	display: table
}

#file-name-input-div {
	display: table-cell;
	width: auto
}

#file-name-input {
	width: 100%
}

#file-name-label-div {
	display: table-cell;
	width: 120px;
}

#file-name-button-div {
	display: table-cell;
	padding-left: 8px;
  padding-right: 8px;
	width: 80px;
}

#log-view-grid-container {
	width: calc(100% - 500px);
	height: calc(100% - 50px);
	margin-top: 10px;
}

#log-view-grid-pager {
  height: 50px;
}